<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Poppins', sans-serif;
            color: #484848;
        }

        body {
            background-color: white;
        }

        img {
            position: relative;
        }

        .email__container {
            max-width: 420px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            padding: 10px;
        }

        .email--logo {
            width: 350px;
            margin-bottom: 10px;
        }

        .highligh {
            color: #fd4e29;
            font-weight: bold;
        }

        .emai__content {
            text-align: justify;
            line-height: 1;
        }

        .lead__details {
            padding: 0 8%;
            text-align: left;
            line-height: 1;
        }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
